<!--
  Generated template for the Api2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Detalles del producto</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color:#CBCBCB">

    <ion-card>
        <ion-slides pager>

            <ion-slide *ngFor = 'let img of imgs'>
         
            <img  src="https://img.segundamano.mx/cover/{{img.path}}">
         
          </ion-slide>
    
          </ion-slides>
    </ion-card>

    <ion-card>

        <h2 *ngIf= "animal.ad.hasOwnProperty('list_price')">Precio: {{animal.ad.list_price.label}}</h2>

        <h2 *ngIf= "animal.ad.hasOwnProperty('body')">{{animal.ad.body}}</h2>
        
        <h2  *ngIf= "animal.ad.hasOwnProperty('locations')">{{animal.ad.locations[0].label}}</h2>

        <h2 *ngIf= "animal.ad.hasOwnProperty('list_time')">Fecha de Publicación: {{animal.ad.list_time.label}}</h2>
       
        <h2 *ngIf= "animal.ad.hasOwnProperty('user')">Usuario: {{animal.ad.user.account.name}}</h2>
  
    </ion-card>

    <ion-card>

      <ion-item>{{animal.ad.subject}}
      <ion-icon *ngIf= '!fav.existe(animal)' name="heart" item-end (click)='favoritos(animal)'></ion-icon>
      <ion-icon *ngIf= 'fav.existe(animal)' name="heart" color='danger' item-end (click)= "fav.remove(animal)"></ion-icon>
    </ion-item>
    
      <ion-icon name="share" item-end></ion-icon>
    
    

     
  
    </ion-card> 


</ion-content>
